name: Staging

on:
  push:
    branches: [main]
    tags-ignore: ['*']
    paths-ignore:
      - '**/**.md'
      - 'docker-compose.yml'
jobs:
  test:
    uses: ./.github/workflows/test.yaml
  build-push:
    name: Build ARM64 image
    runs-on: ubuntu-24.04-arm
    needs: test
    environment:
      name: staging
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate image tag
        run: echo "IMAGE_TAG=$(echo $GITHUB_REF | sed 's|refs/heads/||')-$(echo $GITHUB_SHA | head -c 7)-$(date +%s)" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          build-args: |
            NEXT_PUBLIC_SITE_URL=${{ vars.NEXT_PUBLIC_SITE_URL }}
            NEXT_PUBLIC_STATUS_URL=${{ vars.NEXT_PUBLIC_STATUS_URL }}
            NEXT_PUBLIC_SITE_NAME=${{ vars.NEXT_PUBLIC_SITE_NAME }}
            NEXT_PUBLIC_STRAPI_API_URL=${{ vars.NEXT_PUBLIC_STRAPI_API_URL }}
            NEXT_PUBLIC_STORAGE_HOST=${{ vars.NEXT_PUBLIC_STORAGE_HOST }}
            NEXT_PUBLIC_CSE_ID=${{ vars.NEXT_PUBLIC_CSE_ID }}
            NEXT_PUBLIC_PAGE_SIZE=${{ vars.NEXT_PUBLIC_PAGE_SIZE }}
            NEXT_PUBLIC_HOME_PAGE_SIZE=${{ vars.NEXT_PUBLIC_HOME_PAGE_SIZE }}
            NEXT_PUBLIC_AVATAR_URL=${{ vars.NEXT_PUBLIC_AVATAR_URL }}
            NEXT_PUBLIC_FAVICON_URL=${{ vars.NEXT_PUBLIC_FAVICON_URL }}
            NEXT_PUBLIC_ICON_URL=${{ vars.NEXT_PUBLIC_ICON_URL }}
            NEXT_PUBLIC_REMARK42_HOST=${{ vars.NEXT_PUBLIC_REMARK42_HOST }}
            NEXT_PUBLIC_REMARK42_SITE_ID=${{ vars.NEXT_PUBLIC_REMARK42_SITE_ID }}
            NEXT_PUBLIC_ALGOLIA_API_KEY=${{ vars.NEXT_PUBLIC_ALGOLIA_API_KEY }}
            NEXT_PUBLIC_ALGOLIA_APP_ID=${{ vars.NEXT_PUBLIC_ALGOLIA_APP_ID }}
            NEXT_PUBLIC_ALGOLIA_INDEX_NAME=${{ vars.NEXT_PUBLIC_ALGOLIA_INDEX_NAME }}
            NEXT_PUBLIC_UMAMI_WEBSITE_ID=${{ vars.NEXT_PUBLIC_UMAMI_WEBSITE_ID }}
            NEXT_PUBLIC_UMAMI_SCRIPT_URL=${{ vars.NEXT_PUBLIC_UMAMI_SCRIPT_URL }}
            STRAPI_API_URL=${{ vars.STRAPI_API_URL }}
            SITEMAP_SIZE=${{ vars.SITEMAP_SIZE }}
          platforms: linux/arm64
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ env.IMAGE_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
